<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uestc.www.dao.ExamChioceQuestionMapper" >
  <resultMap id="BaseResultMap" type="com.uestc.www.pojo.exam.ExamChioceQuestion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="question_id" property="questionId" jdbcType="CHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="question_type" property="questionType" jdbcType="TINYINT" />
    <result column="option_a" property="optionA" jdbcType="VARCHAR" />
    <result column="option_b" property="optionB" jdbcType="VARCHAR" />
    <result column="option_c" property="optionC" jdbcType="VARCHAR" />
    <result column="option_d" property="optionD" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="CHAR" />
    <result column="analysis" property="analysis" jdbcType="VARCHAR" />
    <result column="subject_id" property="subjectId" jdbcType="CHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="subject_name" property="subjectName" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, question_id, content, question_type, option_a, option_b, option_c, option_d, 
    answer, analysis, subject_id, score, subject_name, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from exam_chioce_question
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByQuestionId" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from exam_chioce_question
    where question_id = #{questionId,jdbcType=CHAR}
  </select>
  
  <select id="selectBySubjectId" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from exam_chioce_question
    where subject_id = #{subjectId,jdbcType=CHAR}
  </select>
  
  <!-- 根据查询条件获取查询获得的数据量 -->
	<select id="size" parameterType="Map" resultType="Long">
		select count(*) from exam_chioce_question
		<where>
			<if test="questionId != null and questionId != ''">
				AND question_id = 
				#{questionId,jdbcType=CHAR}
			</if>
			<if test="subjectId != null and subjectId != ''">
				AND subject_id = 
				#{subjectId,jdbcType=CHAR}
			</if>
			<if test="subjectName != null and subjectName != ''">
				AND subject_name like
				CONCAT(CONCAT('%',
				#{subjectName,jdbcType=CHAR}),'%')
			</if>
			<if test="content != null and content != ''">
				AND content like
				CONCAT(CONCAT('%',
				#{content,jdbcType=VARCHAR}),'%')
			</if>
			
		</where>
	</select>
	
	<!-- 分页查询获取选择题信息 -->
	<select id="selectByPageAndSelections" parameterType="com.uestc.www.common.QueryBase"
		resultMap="BaseResultMap">
		select * from exam_chioce_question
		<where>
			<if test="parameters.questionId != null and parameters.questionId != ''">
				AND question_id = 
				#{parameters.questionId,jdbcType=CHAR}
			</if>
			<if test="parameters.subjectId != null and parameters.subjectId != ''">
				AND subject_id = 
				#{parameters.subjectId,jdbcType=CHAR}
			</if>
			<if test="parameters.subjectName != null and parameters.subjectName != ''">
				AND subject_name like
				CONCAT(CONCAT('%',
				#{parameters.subjectName,jdbcType=CHAR}),'%')
			</if>
			<if test="parameters.content != null and parameters.content != ''">
				AND content like
				CONCAT(CONCAT('%',
				#{parameters.content,jdbcType=VARCHAR}),'%')
			</if>
		</where>
		order by subject_id,question_id
		limit #{firstRow},#{pageSize}
	</select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from exam_chioce_question
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uestc.www.pojo.exam.ExamChioceQuestion" >
    insert into exam_chioce_question (id, question_id, content, 
      question_type, option_a, option_b, 
      option_c, option_d, answer, 
      analysis, subject_id, score, 
      subject_name, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{questionId,jdbcType=CHAR}, #{content,jdbcType=VARCHAR}, 
      #{questionType,jdbcType=TINYINT}, #{optionA,jdbcType=VARCHAR}, #{optionB,jdbcType=VARCHAR}, 
      #{optionC,jdbcType=VARCHAR}, #{optionD,jdbcType=VARCHAR}, #{answer,jdbcType=CHAR}, 
      #{analysis,jdbcType=VARCHAR}, #{subjectId,jdbcType=CHAR}, #{score,jdbcType=INTEGER}, 
      #{subjectName,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.uestc.www.pojo.exam.ExamChioceQuestion" >
    insert into exam_chioce_question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="questionId != null" >
        question_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="questionType != null" >
        question_type,
      </if>
      <if test="optionA != null" >
        option_a,
      </if>
      <if test="optionB != null" >
        option_b,
      </if>
      <if test="optionC != null" >
        option_c,
      </if>
      <if test="optionD != null" >
        option_d,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="analysis != null" >
        analysis,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="subjectName != null" >
        subject_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="questionId != null" >
        #{questionId,jdbcType=CHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="questionType != null" >
        #{questionType,jdbcType=TINYINT},
      </if>
      <if test="optionA != null" >
        #{optionA,jdbcType=VARCHAR},
      </if>
      <if test="optionB != null" >
        #{optionB,jdbcType=VARCHAR},
      </if>
      <if test="optionC != null" >
        #{optionC,jdbcType=VARCHAR},
      </if>
      <if test="optionD != null" >
        #{optionD,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=CHAR},
      </if>
      <if test="analysis != null" >
        #{analysis,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=CHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="subjectName != null" >
        #{subjectName,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uestc.www.pojo.exam.ExamChioceQuestion" >
    update exam_chioce_question
    <set >
      <if test="questionId != null" >
        question_id = #{questionId,jdbcType=CHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="questionType != null" >
        question_type = #{questionType,jdbcType=TINYINT},
      </if>
      <if test="optionA != null" >
        option_a = #{optionA,jdbcType=VARCHAR},
      </if>
      <if test="optionB != null" >
        option_b = #{optionB,jdbcType=VARCHAR},
      </if>
      <if test="optionC != null" >
        option_c = #{optionC,jdbcType=VARCHAR},
      </if>
      <if test="optionD != null" >
        option_d = #{optionD,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=CHAR},
      </if>
      <if test="analysis != null" >
        analysis = #{analysis,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null" >
        subject_id = #{subjectId,jdbcType=CHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="subjectName != null" >
        subject_name = #{subjectName,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uestc.www.pojo.exam.ExamChioceQuestion" >
    update exam_chioce_question
    set question_id = #{questionId,jdbcType=CHAR},
      content = #{content,jdbcType=VARCHAR},
      question_type = #{questionType,jdbcType=TINYINT},
      option_a = #{optionA,jdbcType=VARCHAR},
      option_b = #{optionB,jdbcType=VARCHAR},
      option_c = #{optionC,jdbcType=VARCHAR},
      option_d = #{optionD,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=CHAR},
      analysis = #{analysis,jdbcType=VARCHAR},
      subject_id = #{subjectId,jdbcType=CHAR},
      score = #{score,jdbcType=INTEGER},
      subject_name = #{subjectName,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>